@page "/"

<h1>LaunchPoint</h1>

<h2>Overview</h2>
LaunchPoint is a starting point for user based web applications. The goal of LaunchPoint is simple. Provide a baseline application that has user
management CRUD built in.

<h2>Instructions</h2>
1. Create an initial administrative user for the application
